p {
    color:blueviolet;
    font-family: karol;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    text-align: justify;
    text-decoration:none;
    line-height: 1.4;
    letter-spacing: 1px;
}

h1 {
    color:brown;
    text-align: center;
}
